.app {
}

.sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  background-color: #f8f9fa;
  z-index: 1000; 
}

.navbar {
  width: 100%;
  z-index: 999; 
}

.content {
  margin-left: 250px; /* Ajuste para deixar o conteúdo ao lado da Sidebar */
  margin-top: 64px; /* Ajuste para deixar o conteúdo abaixo da Navbar */
  flex-grow: 1; 
  padding: 20px; /* Adicionado para espaçamento interno */
}
